.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.escena {
  height: 100%;
  width: 100%;
}

.opciones {
  width: 30%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opciones > ul {
  list-style: none;
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100vw;
}

.opciones > ul > li {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  border-radius: 5px;
  font-weight: 750;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, .25);
  letter-spacing: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.opciones > ul > .r {
  transition: .5s;
}
.opciones > ul > .r:hover {
  background-color: #ff0000;
  color: white;
}
.opciones > ul > .b {
  transition: .5s;
}
.opciones > ul > .b:hover {
  background-color: #0400ff;
  color: white;
}
.opciones > ul > .o {
  transition: .5s;
}
.opciones > ul > .o:hover {
  background-color: #ffae00;
  color: white;
}
.opciones > ul > .p {
  transition: .5s;
}
.opciones > ul > .p:hover {
  background-color: #fb00ff;
  color: white;
}
.opciones > ul > .g {
  transition: .5s;
}
.opciones > ul > .g:hover {
  background-color: #00ff1e;
  color: white;
}
